html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn {
    background: #567b95;
    color: #fff;
    font-weight: bold;
    border: 1px solid #326891;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0 150px;
    font-size: 13px;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

header .nav-left >* {
    margin-bottom: 4px;
    color: #000;
}

header .nav-left button {
    background: none;
    border: none;
    margin-right: 13px;
    font-size: 20px;
    transition: background 0.5s;
}

header .nav-left >*:hover {
    background: rgba(0, 0, 0, 0.05)
}

header .nav-left a:hover {
    background: none;
    text-decoration: underline;
}

.nav-left button img {
    height: 15px;
}

.logo {
    height: 25px;
    margin-top: 7px;
}

header .nav-right >* {
    padding: 7px 12px 5px;
    font-size: 11px;
}

header .nav-right button:last-child {
    margin-left: 5px;
}

article {
    max-width: 1000px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 170px 1fr 170px;
    grid-gap: 30px;
    margin: 60px auto 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article >* {
    grid-column: 2 / -2;
}

article > h1 {
    font-family: 'Arbutus Slab', serif;
    font-size: 30px;
    font-size: 35px;
    font-style: italic;
    line-height: 50px;
}

article figure {
    margin-bottom: 20px;
}

article figure.wide {
    grid-column: 1 / -1;
}

article figure img {
    width: 100%;
}

figcaption {
    grid-column: 1 / span 2;
    font-size: 15px;
    color: rgb(82, 82, 82);
    margin-top: 10px;
    line-height: 18px;
}

article figure span {
    font-size: 13px;
    color: grey;
    margin-left: 4px;
}

/* Article meta data */

.article-meta {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.article-meta p a {
    text-decoration: underline rgb(0, 0, 0, 0.2);
    color: black;
}

.article-meta p a:hover {
    text-decoration: none;
}

.article-meta section, article footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
}

.article-meta li, footer li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.article-meta li:last-child, footer li:last-child {
    margin-right: 0;
}

.article-meta svg:hover g {
    stroke: rgba(0, 0, 0, 0.2);
}

.article-meta button {
    position: relative;
    background: none;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
    padding: 4px 7px 1px;
}

.article-meta button:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

.article-meta button:hover i:before {
    border-color: rgba(0, 0, 0, 0.2) transparent;
}

.article-meta i:before {
    bottom: -7px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    width: 0px;
    border-color: rgb(102, 102, 102) transparent;
    border-style: solid;
    border-width: 6px 0px 0px 8px;
}

.article-meta i:after {
    bottom: -6px;
    content: "";
    display: block;
    left: 16px;
    position: absolute;
    width: 0px;
    border-color: rgb(255, 255, 255) transparent;
    border-style: solid;
    border-width: 6px 0px 0px 6px;
}

.social {
    width: 30px;
    height: 30px;
    padding: 6px;
    background: #eee;
    border: 2px solid #eee;
    border-radius: 50%;
}

.social:hover {
    background: #fff;
}

/* main article */

.article-text p {
    font-size: 20px;
    line-height: 32px;
}

.article-text p:not(:last-of-type) {
    margin-bottom: 18px;
}

.article-text p a {
    color: rgb(50, 104, 145);
    text-decoration: underline;
}

.article-text p a:hover {
    text-decoration: none;
}

.article-text aside {
    text-align: center;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

.article-text aside a {
    color: rgb(50, 104, 145);
}

.article-text .block-line {
    border-top: 1px solid black;
    margin: 20px auto;
    width: 70px;
    border-color: rgba(0, 0, 0, 0.2);
}

.article-text h2 {
    margin-bottom: 20px;
    font-family: 'Arbutus Slab', serif;
    font-size: 20px;
}

/* theory of inflation */

#theory-of-inflation {
    position: relative;
}

figcaption h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

#theory-of-inflation figcaption {
    margin-bottom: 10px;
    font-size: 13px;
}

#theory-of-inflation .image-description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    position: absolute;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.image-description.top {
    top: 220px;
}

.image-description.bottom {
    top: 520px;
}

#theory-of-inflation p span {
    font-weight: bold;
    color: black;
    margin-left: 0;
    margin-right: 4px;
}

#theory-of-inflation div:last-of-type {
    border-bottom: 1px solid black;
    width: 70px;
}

#theory-of-inflation .author {
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
}

article footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 82, 82);
    font-size: 11px;
    line-height: 16px;
}

article footer a {
    color: rgb(82, 82, 82);
    text-decoration: underline;
}

article footer a:hover {
    text-decoration: none;
}

article footer button {
    padding: 10px 80px;
    font-size: 13px;
}

article > aside {
    grid-area: 5 / 3;
    align-self: center;
    width: 210px;
    margin-left: 80px;
}

/* mid-article aside */

aside li a {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 20px;
}

aside img {
    width: 80px;
    margin-right: 10px;
}

aside h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

aside h3 {
    flex: 1;
    color: black;
    font-size: 14px;
    font-weight: light;
    line-height: 18px;
    align-self: center;
}

aside h3:hover {
    text-decoration: underline;
}

aside hr {
    color: rgba(0, 0, 0, 0.2);
    margin: 10px 0 13px;
}

/* bottom article suggestions */

.extra-reading, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.thumb-articles, .most-popular {
    border-top: 1px solid black;
}

.extra-reading h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}

.extra-reading h3:hover {
    color: rgba(0, 0, 0, 0.8);
}

.extra-reading h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
}

.extra-reading .thumb-articles {
    float: left;
}

.extra-reading .thumb-articles hr {
    margin-top: 20px;
}

.thumb-articles {
    width: calc(75% - 30px);
    margin-bottom: 60px;
}

.thumb-articles .article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.thumb-articles figure img {
    width: 100%;
}

.thumb-articles figure {
    text-align: end;
    margin-bottom: 5px;
}

.thumb-articles figure figcaption {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 0 0 2px;
    line-height: 10px;
}

.thumb-articles h3 {
    margin-bottom: 5px;
}

.thumb-articles time {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);   
}

.most-popular {
    float: right;
    max-width: 25%;
    margin-left: 30px;
}

.most-popular h3 {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    margin-bottom: 15px;
}

/* Page footer */

footer {
    clear: both;
    border-top: 3px double rgba(0, 0, 0, 0.1);
    font-family: 'Libre Franklin', sans-serif;
}

footer .top {
    padding-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .top a {
    font-size: 11px;
    color: rgb(86, 123, 149)
}

footer nav {
    display: flex;
    justify-content: space-between;

}

footer nav >* {
    flex-basis: 200px;
}

footer nav h3 {
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 12px;
}

footer nav li {
    display: block;

}

footer nav a {
    color: black;
    width: 150px;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 13px;
}

footer nav a:hover {
    text-decoration: underline;
}

/* Last footer section */

footer nav section:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    min-width: 220px;
}

footer .subscribe-list {
    font-weight: bold;
    margin-bottom: 10px;
}

footer .subscribe-list a,
footer .corporate-links a,
footer .alternate-links a {
    width: 100%;
}

footer .subscribe-list li {
    margin-bottom: 5px;
}

footer .subscribe-list svg {
    height: 12px;
}

footer .subscribe-list a {
    font-size: 14px;
    width: 100%;
}

footer .corporate-links a,
footer .alternate-links a {
    font-size: 11px;
}

footer .alternate-links {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 12px;
}
